/* Design System */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFBF1;
    color: #171717;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
}

p{
    font-family: 'Nunito', sans-serif;
}

#instruction{
    text-align: center;
    margin-left: 10%;
    margin-right:10%;
    margin-top:5%;
}

button {
    border-radius: 100px;
    border: none;
    display: flex;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 21px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color:#171717;
}

button:hover {
    cursor: pointer;
}

.primary {
    background-color: #17C170;
}

.secondary {
    background-color:  #FFFBF1;
    border: 3px solid #17C170;
}

/* Show and hidden */
.showing {
    display: block;
}

.hidden {
    display: none;
}

/* Homepage */
#homepage {
    /* want background to be image */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-image: url('images/homepage.png');
}

#buttons {
    margin-top: 30px;
}

/* Map */

#mappage{
    position:absolute;
    top:0;
    right:0;
    z-index:-1;
    opacity:0;
}

#map {
    width: 100vw;
    height: 100vh;
}

.fas.fa-long-arrow-left {
    background-color: red;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
}


.leaflet-popup-content{
    width:180px;
    text-align:center;
    margin: 20px 20px 20px 15px;
}

#backHome{
    z-index: 1;
    position: absolute;
    top: 0;
    right:0;
}

/* info section */

#placeinfo{
    
    overflow: hidden;
}

#placeinfo h2{
    padding-top:10px;
    margin-left:10%;
    margin-right:10%;
}

#placeinfo p{
    padding-top:10px;
    margin-left:10%;
    margin-right:10%;
}

#placeinfo .camera{
    margin-top:20px;
}

/* Face filter */
#facefilter {
    position: fixed; 
    top:0; 
    left:0; 
    width: 100%; 
    height: 100%;
    z-index: 1;
}

/* Back to map button */
#backMap {
    z-index: 2;
    position: relative;
    top: 5%;
}

#user-test {
    display: flex;
    flex-wrap: wrap;
}

#capture {
    position: fixed;
	bottom: 2vh;
	left: 50%;
	height: 12vw;
	width: 12vw;
	border: solid 2px;
	border-radius: 50%;
	transform: translateX(-50%);
	z-index: 10;
}